<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylesheet.css">
    <title>Codique - Login</title>
</head>
<body>
    <header>
        <div class="logo">Codique</div>
        <div class="logo-text">
        <p>LLorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae quaerat quia aliquid? A quod, ullam iure nam sed blanditiis! </p>
    </div>
    </header>
    
    <section>
        <div class="description">
            <h1> How Codique helps!</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae quaerat quia aliquid? A quod, ullam iure nam sed blanditiis! Temporibus veritatis eum in, maiores reiciendis accusamus excepturi corporis possimus nihil ad error, officia rem ipsa culpa ducimus deleniti nobis laborum.</p>
        </div>
        

        <div class="home-content">
            <h1>Login to your Project</h1>
            <p>
                <form action="">
                    <ul>
                        <li><input type="text" placeholder=" Enter Username" name="username" required> </li>
                        <li>
                            <input type="password" placeholder=" Enter Password" name="password" required>
                        </li>
                        <li>
                            <button type="submit" class="btn" style="
    width: 100%;">Login</button> 
                        </li>
                    </ul>
                </form>
            </p>
        </div>
        <!-- <img src="../static/images/home-img.png" class="home-img" alt=""> -->
    </section>
    <footer>
        Copyright &copy; 2021
    </footer>

</body>
</html>