<!doctype html>
<html>
<head>
<title>Codique-UnitTest</title>
<!--<link rel="stylesheet" href="C:\Users\gunjan.i.sharma\Desktop\Study\Codique\static\style.css">
-->
<link rel="stylesheet" href="..\static\stylesheet.css">
<style>
	input[type=text], select, textarea {
	width: 100%; /* Full width */
  padding: 9px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 3px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
	</style>
</head>
<body>


<!--headernavnar-->
<header>
        <div class="req-logo">Codique</div>
		<div class="req-text">
        <p>LLorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae quaerat quia aliquid? A quod, ullam iure nam sed blanditiis! </p>
    </div>
	<div class="navbar">
	<ul>
	<li><a class="active" href="index.html"><span>Admin</span></a></li>
	<li><a href="dashboard.html"><span>Project</span></a></li>
	<li><a href="unittest2.html"><span>Unit Test</span></a>	</li>
	<li><a href="requirement.html"><span>RTM</span></a></li>
	</ul>

</div>
        
    </header>
	
	

<!--Sidebar-->
<div class="mainclass">
<!--
<div class="sidebar">
	
	
	<a href="login.html"><span>Admin</span></a>
	<a href="dashboard.html"><span>Project</span></a>
	<a href="unittest.html"><span>Unit Test</span></a>	
	<a href="requirement.html"><span>RTM</span></a>
</div>
-->
	

<div class="dashboard">
<div class="unittesttable">

<form style="padding-top:15px" method="POST"> 
		
		<label for="title" >Title:</label>
		<input type="text"name="title">
		<label for="description">Description</label>
		<input type="text" name="description">
		<br>
		<label for="reqID">Requirement ID</label>
		<select name="reqID" id="reqID">
		<option value="Select">Select</option>
		<option value="R001">R001</option> 
		<option value="R002">R002</option> 
		<option value="R003">R003</option>
 	 	</select>
		
		

		<!-- <a href="#" class="add_btn">Add</a> -->
		<br>
			<input class="btn" type="submit" style="width : 100%">
			<br><br>
			<!--{{displayOP}} -->
			
	
	</form>
</div>

<br><br><br>
<div class="tabledata">

<table>
 <table id="table-content">
 <tr>
    <th>Sno</th>
    <th>Title</th>
    <th>Desc</th>
	<th>ReqID</th>
	<th>Status</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Check Data base connection</td>
    <td>Check the CRM Legacy connection</td>
    <td>R001</td>
    <td><button type="button" class="done btn">Ready for peer review</button> </td> 
    
 		
  </tr>
  <tr>
<td>2</td>
    <td>Check Filed length SSTM</td>
    <td>Filed length should be 20, Data format YYYY_MM_DD. Should be design as per DTA?IBR</td>
	<td>R001</td>
    <td><button type="button" class="done btn">Ready for peer review</button></td>
  </tr>
 
</table>
</div>

</div>

</body>


</html>